/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-jun-2017, 23:44:14
    Author     : Padilla_Bustamante
*/

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    align-content: center;
}
body{
    background: #FFFFFF;
    display: flex;
    min-height: 100vh;
    align-content: center;
}
form{
      margin: auto;
      width: 50%;
      max-width: 500px;
      background: #F3F3F3;
      padding: 30px;
      border: 1px solid rgba(0,0,0,0.2);
      align-content: center;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.5);
}

input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}

input[type="submit"]{
    background: linear-gradient(#FFDA63,#FFB940);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}
 input[type="button"]{
    background: linear-gradient(#0370c4,#63b2ef);
    border: 0;
    color: brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
input[type="button"]:hover{
    opacity: 1;
}
input[type="button"]:active{
    transform: scale(0.95);
}

@media (max-width:780px){
    form{
        width: 65%;
    }
}

@media (max-width:480px){
    form{
        width: 90%;
    }
}